Django
djangorestframework
dj-rest-auth
django-allauth
psycopg2-binary
dj-database-url
redis
celery
drf-spectacular
httpx
requests
pydantic
pydantic-settings
django-cors-headers
Pillow
PyYAML
pytz
cryptography
sentry-sdk[django]
django-celery-beat 
django-celery-results 
django-redis
